$icon-font-path: "../bower_components/font-awesome/fonts";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "font-awesome/scss/font-awesome";
@import url(http://fonts.googleapis.com/css?family=Monoton);
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html{
  background: url(../images/header-bg.jpg) no-repeat left top fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}
body {
  height: 100%;
  h1{
    font-family: 'Monoton', cursive;
    margin: 40px 0;
    text-shadow: 9px 0px 33px #000;
    font-size: 12em; 
    font-size: 9vw;
    text-align: center;
    color: #fff;
  }
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0;
}

.flexslider-container{
  width: 70%;
  float: left;
}
.main-container{
  height: 100%;
  .spotify{
    width: 26.3%;
    float: right;
    h2.llamado-player{
      color: #fff;
      text-align: center;
      font-family: Tahoma, Geneva, sans-serif;
      font-size: 1.9em;
      margin: 30px 0;
    }
    iframe{
      display: block;
      // &.player{
      //   width: 95%;
      // }
      &.follow{
        width: 54%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1em;
      }
    }    
  }
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

#menu{
  background-color: #000;
  border:none;
  color: #fff;
  ul.social{
    float: right;
    li{
      width: 3.56em;
      height: 3.56em;
      a{
        height: 100%;
        width: 100%;
        padding: 4px 0px 4px 40px;
        text-align: center;
        line-height: 4.28;
        color: #fff;
        &.fb{
          &::before{
            content: "\f230";
            font: normal normal normal 14px/1 FontAwesome;
            font-size: 2.7em;
          }
        }
        &.tw{
          &::before{
            content: "\f099";
            font: normal normal normal 14px/1 FontAwesome;
            font-size: 2.7em;
          }
        }
        &.insta{
          &::before{
            content: "\f16d";
            font: normal normal normal 14px/1 FontAwesome;
            font-size: 2.7em;
          }
        }
        &.yt{
          &::before{
            content: "\f16a";
            font: normal normal normal 14px/1 FontAwesome;
            font-size: 2.7em;
          }
        }
        &.sp{
          &::before{
            content: "\f1bc";
            font: normal normal normal 14px/1 FontAwesome;
            font-size: 2.7em;
          }
        }
      }
    }
  }
}
/* Custom page header */
.header {
  height: 18em;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;


  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1280px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
