<flex-slider slide="s in slide_images" animation-loop="true" slideshow="true" slideshow-speed="5000" >
    <li><img ng-src="{{s}}"></li>
</flex-slider>

<div class="spotify">
  <h2 class="llamado-player">Escucha nuestro trabajo</h2>
  <iframe src="https://embed.spotify.com/?uri=spotify%3Aartist%3A5WVzE62BJ8bebKBFboptqY" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
  <iframe class="follow" src="https://embed.spotify.com/follow/1/?uri=spotify:artist:5WVzE62BJ8bebKBFboptqY&size=basic&theme=dark" width="200" height="25" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
</div>

